.home-container {
    position: relative;
    display:flex;
    flex-direction:column;
    /* overflow: none; (wrong info sorry,below correction)*/
    overflow: hidden;
    min-height: 100vh;
    align-items:center;
}