.about-home {
    width: 100%;
    justify-content: space-between;
    display: flex;
    background-color: #FCFCFC;
    padding: auto;
    text-align: center;
}

.about-home img {
    height: 500px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    object-fit: cover;
}

.about-home-text {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;   
    color: #64748b;
    gap: 20px;
}

.about-home-text h2 {
    max-width: 100%;
    line-height: 1;
    color: #000000;
    font-size: 44px;   
    font-weight: 600;
}

.paragraph-wrapper p{
    max-width: 500px;
    margin: 0 auto;
}
