.about-home {
    display: flex;
    flex-direction: row-reverse; 
    width: 100vw;
    height: 351px;
    background-color: #FCFCFC;
    padding: auto;
    text-align: center;
}

.about-home img {
    max-width: 100%; 
    max-height: 351px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    object-fit: cover;
}

.about-home-text * {
    text-align: center;
    margin-right: 200px;
    color: #64748b;
}

.about-home-text h2 {
    max-width: 100%;
    color: #000000;
    font-size: 44px;   
    font-weight: 600;
}
