.footer-wrapper{
    background-color: #b30000;
    padding: 100px 0px 30px;
    width: 100%;
    height: 420px;    

    .footer-content-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0px 100px;
        text-align: center;

        .footer-items-wrapper {
            align-items: center;
            color: #FCFCFC;
            width: 33%;
            margin-right: min(80px, 8%);
        }
    }
}

.footer-links > ul > li > a{
    display: inline-block;
    position: relative;
    color: #FCFCFC;
}

.footer-links > ul > li > a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FCFCFC;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.footer-links > ul > li > a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

