.header-container {
    padding: 100px 50px;
    max-width: 800px;
    h1 {
        max-width: 800px;
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 3rem;
        line-height: 1.1;
    }
    
    p {
        margin-bottom: 30px;
        line-height: 1.5;
    }
}

