/* .img-container {
    min-width: 100vw;
}*/

.img-container {
    display: flex;
    justify-content: center;
}

.hero-img {
    width: 1280px;
    height: 500px; 
    object-position: 20% 80%;
    object-fit: cover;
}