.learn-more-button {
    background-color: #FCFCFC; 
    padding: 10px 20px; 
    border: solid #b30000;
    border-radius: 10px; 
    text-decoration: none; 
}

.learn-more-button a{
    color: #b30000; 
    text-decoration: none; 
}


.learn-more-button:hover {
    background-color: #b30000;
    cursor: pointer;
}

.learn-more-button:hover .button-link {
    color: #FCFCFC;
}

