.navbar-wrapper {
  position: sticky; /* always on top */
  top: 0px;
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
  z-index: 10;
}

.navbar {
  padding: 0 80px;
  max-width: 1280px;
  margin: 0 auto; /* center the navbar without flex*/
  
}

/* Target direct ul child */
.navbar > ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
  gap: 20px; /* use gap bro not margin */
}


.navbar > ul > li > a{
  text-decoration: none;
  color: #333;
}

.donate-button {
  
  padding: 12px 25px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #b30000;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 10px;
    justify-content: center;
  }
}