@import 'normalize.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: normal;
  color: #000000;
  background-color: #ffffff;
  max-width: 100vw;
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, span, a, li, ul {
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  line-height: 1.5;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}
